[Unit]
Description=Printora Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/printora-agent -config /etc/printora-agent/config.json run
Restart=always
RestartSec=5
User=root
PrivateTmp=true

[Install]
WantedBy=multi-user.target
