MAYDER_PRINT_LAB_MOONRAKER_URL=http://127.0.0.1:7125
MAYDER_PRINT_LAB_DATA_DIR=/home/pi/.local/share/mayderprintlab
MAYDER_PRINT_LAB_FRONTEND_DIST_DIR=/home/pi/MayderPrintLab/frontend/dist
MAYDER_PRINT_LAB_REQUEST_TIMEOUT_SECONDS=5
MAYDER_PRINT_LAB_HOST_AUDIT_MODE=disabled
MAYDER_PRINT_LAB_HOST_AUDIT_SSH_TARGET=pi@voron.local
MAYDER_PRINT_LAB_HOST_AUDIT_TIMEOUT_SECONDS=12
MAYDER_PRINT_LAB_FIRMWARE_BUILD_MODE=disabled
MAYDER_PRINT_LAB_FIRMWARE_BUILD_TIMEOUT_SECONDS=900
